html,
body {
    height: 100%;
    margin: 0;
    transition: background-color 0.5s ease-out;
}

body {
    display: flex;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

#alert {
    bottom: 5rem;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
}

#alert button {
    border-radius: 8px;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    margin: auto;
    padding: 0.5rem 2rem;
}

.stats-display {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 3rem;
    width: 100%;
}

.stats-display h3 {
    margin: 0 4rem;
}

.grid {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    height: 80%;
    margin: auto;
    max-height: 300px;
    position: relative;
    width: 100%;
}

.dino {
    background: red;
    bottom: 0;
    height: 60px;
    position: absolute;
    transition: background-color 0.5s ease-out;
    width: 60px;
}

.obstacle {
    background: orange;
    height: 60px;
    position: absolute;
    width: 20px;
}